body{
    margin: 0;
    background: rgb(39, 37, 37);
}
header{
    background-color: rgb(13, 12, 12);
    text-align: center;
    border-bottom: 5px solid rgb(255, 83, 83);
    box-shadow: 5px 0.8 rgb(255, 83, 83);
}
h1{
    color: white;
    font-size: 3.5rem;
    text-shadow: 2px 2px rgb(255, 83, 83);
    margin: 0;
}
nav{
    text-align: center;
    margin: 20px 0 40px ;
}

input{
    width:60%;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid rgb(255, 83, 83);
}

.container{
    margin: 0 80px;
    padding: 10px 100px;
    border-radius: 15px;
    border-left: 3px solid rgb(255, 83, 83) ;
    border-right: 3px solid rgb(255, 83, 83) ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 100px;
}

.movies{
    box-shadow: 0 0 15px rgba(255, 20, 147, 0.75);
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 20px auto; */

}
.poster{
    height: 310px;
    width: 220px;
}
h3{
    margin: 10px;
    color: white;
    text-shadow: 0px 2px 5px rgb(255, 83, 83);
}
p{
    margin: 15px;
    color: wheat;
}

.hide{
    display: none;
}


@media(max-width:967px){
    .container{
        grid-template-columns: repeat(auto-fill, minmax(130px,1fr));
        margin: 0 10px;
        padding: 10px 15px;
        gap: 20px;
    }
    .poster{
        height: 150px;
        width: 100px;
    }
    h1{
        font-size: 2rem;
    }
    input{
        width: 100%;
        font-size: 1rem;
        border-radius: 0;
        border: 0;
    }
    h3{
        font-size: 0.8rem;
        margin: 6px;
    }
    p{
        font-size: 0.6rem;
        margin: 2px;
    }
    .movies{
    box-shadow: 0 0 5px rgba(255, 20, 147, 0.75);
    padding: 15px;
    }
}